.container { 
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.statContainer{
    margin-top: 5px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.statCard {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: solid 1px black;
    border-radius: 10px;
    width: 600px;
    height: auto;
    margin: 2rem;
    box-shadow: 5px 5px 5px gray;
    cursor: pointer;
}

.battingleaders {
    margin-top: 75px;
}

@media(max-width: 760px){
    .statCard {
        width: 300px;
    }
}